.contact-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.breadcrumb {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    span {
        font-weight: bold;
    }
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 
.contact-info {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 12px;  
  }
  
.icon-with-text
{
    display: flex;
    align-items: center;
    
    text-align: center;
    gap:10px;
}
.info-box img {
    width: 30px;
    height: 30px;
}

.phone {
    font-weight: bold;
}

hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    background: #ddd;
}

 
.contact-form {
    flex: 2;
    min-width: 320px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.inputs-group {
    display: flex;
     
    flex-direction: column;
    margin:5%;
}

.inputs-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f7f7f7;
}

.inputs-group textarea {
    
    width: 96.5%;
    height: 25vh;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f7f7f7;
    resize: none;
     
}
textarea:focus
{
    outline: none;
}
 

 

 @media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .inputs-group {
        flex-direction: column;
    }
}

 
  .error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    min-height: 5px;
  }

 

.form-group
{
    display: flex;
     justify-content: space-between;
}

.submit-button
{
    
    margin-left: 80%;
    border: none;
    background-color: #db4444;
    color: white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}