

.search-tag
{
    font-size: larger;
}


.no-search-query-found
{
   
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    flex-direction: column;
    gap:10px;
    
}

