.show-searched-products
{
    margin:2% 5% 5% 5%;
}

.search-tag
{
    font-size: larger;
}


.not-found
{
   
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    flex-direction: column;
    gap:10px;
    
}

