.top-header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 1px 20px;
    background-color: black;
    color: white;
    height: 50px;  
}
.announcement {
    margin: 0;
    font-size: 1rem;
    text-align: center;
     flex-grow: 1;  /* #check this*/
}

.language-selector select {
    background-color: black;
    color: white;
    border-color:black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

/* #When clicking on dropbox border color becomes white to stop that i had used this.  */
.language-selector select:focus{
    border-color: black !important;
    outline: none; /* Remove default focus outline */
    box-shadow: none; /* Prevents glowing effect in some browsers */
}